


.App {
  font-size: 28px;
  background-color: #020230;
  color: white;
  height: 60%;
  width: 100%;
  text-align: center;
}

.search-bar-container {
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

footer{
  display:  inline-block;
  border: white double;
  opacity: 90%;
  border-radius: 10px;
  padding: 2%;
  margin: 2%;
}

footer h4, footer p, footer h5{
  color:white;
}

