


.App {
  background-color: #020230;
  color: white;
  font-family: 'Lucida Sans';
  height: 60vh;
  width: 100vw;
  text-align: center;
}


.search-bar-container {
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
}

footer h4, footer p, footer h5{
  color:#020230;
}


/*align-items: 200px;
min-width: 200px;*/
